.footer-container {
  background-color: var(--clr-primary-dark-blue);
  display: flex;
}

.footer-box {
  margin: 0 auto;
  padding-top: 2.2rem;
  text-align: center;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.3rem;
}

.footer-button {
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--clr-primary-lime-green),
    var(--clr-primary-bright-cyan)
  );
  color: var(--clr-neutral-main-white);
  padding: 1rem 1rem;
  margin: 1rem 0;
  width: 8rem;
  cursor: pointer;
}

.footer-button:hover {
  cursor: pointer;
  filter: brightness(120%) saturate(70%);
}

.footer-service {
  margin-top: 1.3rem;
}

.footer-list {
  color: var(--clr-neutral-main-very-light-gray);
  font-weight: 200;
  list-style-type: none;
  line-height: 2.2rem;
  padding: 0;
  width: 100%;
}

.footer-item:hover {
  cursor: pointer;
  color: var(--clr-primary-lime-green);
}

.footer-author {
  color: var(--clr-neutral-main-grayish-blue);
  font-weight: 500;
  margin: 1rem 0 3rem;
}

.social-icons {
  fill: var(--clr-primary-lime-green);
}
